<section>
  <h1>Lista de Contratos</h1>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Número Contrato</th>
        <th>Número Pedido</th>
        <th>Cliente</th>
        <th>Endereço Entrega</th>
        <th>Contato Entrega</th>
        <th>Período</th>
        <th>Data início</th>
        <th>Data encerramento</th>
        <th>Preço</th>
        <th>Desconto</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <% @contracts.each do |contract| %>
      <tr>
        <td><%= contract.contract_number %></td>
        <td><%= contract.order_number %></td>
        <td><%= contract.customer.name %></td>
        <td><%= contract.shipping_address %></td>
        <td><%= contract.shipping_contact %></td>
        <td><%= contract.rental_period.description %></td>
        <td><%= l(contract.date_begin) %></td>
        <td><%= l(contract.date_end) %></td>
        <td><%= number_to_currency(contract.price) %></td>
        <td><%= number_to_currency(contract.discount) %></td>
        <td><%= contract.status %></td>
        <td><%= link_to 'Detalhes', contract, class: "btn btn-default btn-sm" %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</section>
<div><%= link_to 'Voltar', root_path , class: "btn btn-default" %></div>
