<section>
  <h1>Novo Contrato</h1>
  <%= simple_form_for @contract do |f| %>
    <%= f.input :contract_number, label: 'Número do contrato' %>
    <%= f.input :order_number, label: 'Número do pedido' %>
    <%= f.input :customer, label: 'Cliente' %>
    <%= f.input :shipping_address, label: 'Endereço de entrega' %>
    <%= f.input :rental_period_id, label: 'Prazo de locação',
                                   collection: @periods, label_method: :description %>
    <%= f.input :shipping_contact, label: 'Contato de entrega' %>
    <%= f.association :equipment, collection: @equipment, label_method: :description, value_method: :id %>
    <%= f.input :date_begin, label: 'Data de início', as: :date, html5: true %>
    <%= f.input :date_end, label: 'Data de término', html5: true %>
    <%= f.input :price, label: 'Valor total' %>
    <%= f.input :discount, label: 'Desconto', class: "form-control"%>
    <%= link_to 'Voltar', root_path , class: "btn btn-default" %>
    <%= f.button :submit, 'Emitir contrato' %>
  <% end %>
</section>
