<section>
  <h1><%= @contract.contract_number %></h1>
  <dl class="dl-horizontal">
    <dt>Numero do Pedido</dt>
    <dd><%= @contract.order_number %></dd>
    <dt>Nome do Cliente</dt>
    <dd><%= @contract.customer.name %></dd>
    <dt>Endereço de Entrega</dt>
    <dd><%= @contract.shipping_address %></dd>
    <dt>Contato</dt>
    <dd><%= @contract.shipping_contact %></dd>
    <dt>Periodo de Locação</dt>
    <dd><%= @contract.rental_period.description %></dd>
    <dt>Equipamentos Alugados</dt>
    <% @contract.equipment.each do |equipment| %>
      <dd><%= equipment.description %></dd>
    <% end %>
    <dt>Inicio da Locação</dt>
    <dd><%= l(@contract.date_begin) %></dd>
    <dt>Fim da locação</dt>
    <dd><%= l(@contract.date_end) %></dd>
    <dt>Valor Total</dt>
    <dd><%= number_to_currency(@contract.price) %></dd>
    <dt>Desconto</dt>
    <dd><%= number_to_currency(@contract.discount) %></dd>
    <dt>Valor a ser pago</dt>
    <dd><%= number_to_currency(@contract.total_value)%></dd>
    <dt>Status</dt>
    <dd><%= @contract.status %></dd>
  </dl>
  <div>
    <%= link_to 'Voltar', root_path , class: "btn btn-default" %>
    <% if @contract.status != 'Encerrado' %>
      <%= link_to 'Encerrar contrato', close_contract_path(@contract) , method: :put, class: "btn btn-danger" %>
    <% else %>
      <a href="#" class="btn btn-success disabled">Contrato encerrado</a>
    <% end %>
    <!-- Single button -->
    <div class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Recibos <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li>
          <% if @contract.delivery_receipt %>
            <%= link_to 'Visualizar Recibo de Entrega', delivery_receipt_path(@contract.delivery_receipt) %>
          <% else %>
            <%= link_to 'Gerar Recibo de Entrega', delivery_receipt_contract_path(@contract), method: :post %>
          <% end %>
        </li>
        <li>
          <% if @contract.devolution_receipt %>
            <%= link_to "Vizualizar Recibo de Devolução", contract_devolution_receipt_path(@contract) %>
          <% else %>
            <%= link_to "Gerar Recibo de Devolução", new_contract_devolution_receipt_path(@contract) %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</section>
