<h1><%= @contract.contract_number %></h1>
<%= @contract.order_number %>
<%= @contract.customer %>
<%= @contract.shipping_address %>
<%= @contract.shipping_contact %>
<%= @contract.rental_period %>
<%= @contract.rented_equipments %>
<%= @contract.date_begin.strftime('%d/%m/%Y') %>
<%= @contract.date_end.strftime('%d/%m/%Y') %>
<%= @contract.price %>
<%= @contract.discount %>
