<section>
  <h1>Equipamentos</h1>
  <% @equipment.each do |equipment| %>
    <dl class="dl-horizontal">
      <dt>Código: </dt>
      <dd><%= equipment.equipment_code %></dd>
      <dt>Nome: </dt>
      <dd><%= equipment.description %></dd>
      <dt>Categoria: </dt>
      <dd><%= equipment.category %></dd>
      <dt>Valor: </dt>
      <dd><%= equipment.price %></dd>
      <dt>Serial: </dt>
      <dd><%= equipment.serial_number %></dd>
      <dt>Status: </dt>
      <dd><%= equipment.status %></dd>
    </dl>
  <% end %>
  <div>
    <%= link_to 'Voltar', root_path , class: "btn btn-default" %>
  </div>
<section>
