<h1>
  <%= @equipment.customer_code %>
</h1>

<%= @equipment.customer_code %>
<%= @equipment.description %>
<%= @equipment.supplier %>
<%= @equipment.category %>
<%= @equipment.price %>
<%= @equipment.serial_number %>
<%= @equipment.status %>