<section>
  <h1><%= @equipment.equipment_code %></h1>
  <dl class="dl-horizontal">
    <dt>Código do equipamento</dt>
    <dd><%= @equipment.equipment_code %></dd>
    <dt>Descrição</dt>
    <dd><%= @equipment.description %></dd>
    <dt>Categoria</dt>
    <dd><%= @equipment.category %></dd>
    <dt>Fornecedor</dt>
    <dd><%= @equipment.supplier %></dd>
    <dt>Preço</dt>
    <dd><%= number_to_currency(@equipment.price) %></dd>
    <dt>Número de série</dt>
    <dd><%= @equipment.serial_number %></dd>
    <dt>Status</dt>
    <dd><%= @equipment.available %></dd>
  </dl>
</section>
