<section>
  <h1>Novo orçamento</h1>
  <%= simple_form_for @proposal do |f| %>
    <%= f.input :name, label: 'Nome' %>
    <%= f.input :mail, label: 'Email' %>
    <%= f.input :phone, label: 'Telefone' %>
    <%= f.input :description, label: 'Descrição' %>
    <%= link_to 'Voltar', root_path , class: "btn btn-default" %>
    <%= f.button :submit, 'Solicitar Orçamento' %>
  <% end %>
</section>
